* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#hero {
  background-image: url(Header.jpg);
  background-size: cover;
  background-position: center;
}

.hero-inner {
  width: 100%;
  height: 100dvh;
}

.hero-wrapper {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  position: absolute;
  left: 10%;
  top: 20%;
}

.title {
  font-size: 42px;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  font-size: 25px;
}

.button-consult {
  width: 30%;
  height: 25%;
  border-radius: 10px;
  color: white;
  background-color: rgb(101, 183, 255);
  font-size: 22px;
  box-shadow: 2px 2px 4px rgb(101, 183, 255);
  border: none;
  outline: none;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
  }
}
